header {
  height: 10vh;
}

main {
  height: 75vh;
  overflow: scroll;
}

footer {
  height: 10vh;
}

.myProgress {
    width: 100%;
    background-color: grey;

}
.myBar {
    width: 1%;
    height: 30px;
    background-color: green;
